filekinds:
  normal: {foreground: "{{.colors.nord.nord4}}"}
  directory: {foreground: "{{.colors.nord.nord9}}"}
  symlink: {foreground: "{{.colors.nord.nord7}}"}
  pipe: {foreground: "{{.colors.nord.nord5}}"}
  block_device: {foreground: "{{.colors.nord.nord7}}"}
  char_device: {foreground: "{{.colors.nord.nord7}}"}
  socket: {foreground: "{{.colors.nord.nord14}}"}
  special: {foreground: "{{.colors.nord.nord7}}"}
  executable: {foreground: "{{.colors.nord.nord12}}"}
  mount_point: {foreground: "{{.colors.nord.nord4}}"}

perms:
  user_read: {foreground: "{{.colors.nord.nord6}}"}
  user_write: {foreground: "{{.colors.nord.nord7}}"}
  user_execute_file: {foreground: "{{.colors.nord.nord8}}"}
  user_execute_other: {foreground: "{{.colors.nord.nord8}}"}
  group_read: {foreground: "{{.colors.nord.nord6}}"}
  group_write: {foreground: "{{.colors.nord.nord7}}"}
  group_execute: {foreground: "{{.colors.nord.nord8}}"}
  other_read: {foreground: "{{.colors.nord.nord4}}"}
  other_write: {foreground: "{{.colors.nord.nord7}}"}
  other_execute: {foreground: "{{.colors.nord.nord8}}"}
  special_user_file: {foreground: "{{.colors.nord.nord7}}"}
  special_other: {foreground: "{{.colors.nord.nord14}}"}
  attribute: {foreground: "{{.colors.nord.nord4}}"}

size:
  major: {foreground: "{{.colors.nord.nord4}}"}
  minor: {foreground: "{{.colors.nord.nord7}}"}
  number_byte: {foreground: "{{.colors.nord.nord6}}"}
  number_kilo: {foreground: "{{.colors.nord.nord4}}"}
  number_mega: {foreground: "{{.colors.nord.nord8}}"}
  number_giga: {foreground: "{{.colors.nord.nord7}}"}
  number_huge: {foreground: "{{.colors.nord.nord7}}"}
  unit_byte: {foreground: "{{.colors.nord.nord4}}"}
  unit_kilo: {foreground: "{{.colors.nord.nord8}}"}
  unit_mega: {foreground: "{{.colors.nord.nord7}}"}
  unit_giga: {foreground: "{{.colors.nord.nord7}}"}
  unit_huge: {foreground: "{{.colors.nord.nord8}}"}

users:
  user_you: {foreground: "{{.colors.nord.nord6}}"}
  user_root: {foreground: "{{.colors.nord.nord14}}"}
  user_other: {foreground: "{{.colors.nord.nord7}}"}
  group_yours: {foreground: "{{.colors.nord.nord4}}"}
  group_other: {foreground: "{{.colors.nord.nord14}}"}
  group_root: {foreground: "{{.colors.nord.nord14}}"}

links:
  normal: {foreground: "{{.colors.nord.nord7}}"}
  multi_link_file: {foreground: "{{.colors.nord.nord8}}"}

git:
  new: {foreground: "{{.colors.nord.nord4}}"}
  modified: {foreground: "{{.colors.nord.nord7}}"}
  deleted: {foreground: "{{.colors.nord.nord14}}"}
  renamed: {foreground: "{{.colors.nord.nord8}}"}
  typechange: {foreground: "{{.colors.nord.nord7}}"}
  ignored: {foreground: "{{.colors.nord.nord14}}"}
  conflicted: {foreground: "{{.colors.nord.nord11}}"}

git_repo:
  branch_main: {foreground: "{{.colors.nord.nord6}}"}
  branch_other: {foreground: "{{.colors.nord.nord7}}"}
  git_clean: {foreground: "{{.colors.nord.nord8}}"}
  git_dirty: {foreground: "{{.colors.nord.nord11}}"}

security_context:
  colon: {foreground: "{{.colors.nord.nord8}}"}
  user: {foreground: "{{.colors.nord.nord4}}"}
  role: {foreground: "{{.colors.nord.nord7}}"}
  typ: {foreground: "{{.colors.nord.nord14}}"}
  range: {foreground: "{{.colors.nord.nord7}}"}

file_type:
  image: {foreground: "{{.colors.nord.nord8}}"}
  video: {foreground: "{{.colors.nord.nord7}}"}
  music: {foreground: "{{.colors.nord.nord4}}"}
  lossless: {foreground: "{{.colors.nord.nord7}}"}
  crypto: {foreground: "{{.colors.nord.nord14}}"}
  document: {foreground: "{{.colors.nord.nord6}}"}
  compressed: {foreground: "{{.colors.nord.nord7}}"}
  temp: {foreground: "{{.colors.nord.nord11}}"}
  compiled: {foreground: "{{.colors.nord.nord8}}"}
  build: {foreground: "{{.colors.nord.nord14}}"}
  source: {foreground: "{{.colors.nord.nord7}}"}

punctuation: {foreground: "{{.colors.nord.nord6}}"}
date: {foreground: "{{.colors.nord.nord8}}"}
inode: {foreground: "{{.colors.nord.nord4}}"}
blocks: {foreground: "{{.colors.nord.nord14}}"}
header: {foreground: "{{.colors.nord.nord6}}"}
octal: {foreground: "{{.colors.nord.nord8}}"}
flags: {foreground: "{{.colors.nord.nord7}}"}

symlink_path: {foreground: "{{.colors.nord.nord7}}"}
control_char: {foreground: "{{.colors.nord.nord8}}"}
broken_symlink: {foreground: "{{.colors.nord.nord11}}"}
broken_path_overlay: {foreground: "{{.colors.nord.nord14}}"}

filenames:
  Cargo.toml: {icon: {glyph: 🦀}}

extensions:
  fish: {icon: {glyph: 🐟}}
  py: {icon: {glyph: 🐍}}
  rs: {icon: {glyph: 🦀}}
  sh: {icon: {glyph: 🐚}}
