# Nord Night with tweaks by Shaleh

inherits = 'my-nord'

# This fixes bracket match highlighting.
"ui.cursor.match" = { fg = "nord8", bg = "nord3" }
"ui.selection.primary" = { bg = "nord1" }

[palette]
nord0 = '{{.colors.nord_night.nord0}}'
nord4 = '{{.colors.nord_night.nord4}}'
