# Nord with tweaks by Shaleh

inherits = 'nord'

"ui.linenr" = { fg = "{{.colors.nord.nord3_bright}}", modifiers = ["italic"] }
"ui.virtual.inlay-hint" = { bg = "{{.colors.nord.nord2}}", modifiers = ["italic"] }
