# Nord with tweaks by Shaleh

inherits = "nord"

"function.decorator" = "nord12"
"keyword.directive" = "nord10"
"variable.parameter" = "nord4"
"ui.linenr" = { fg = "nord3_bright", modifiers = ["italic"] }
"ui.virtual.inlay-hint" = { bg = "nord2", modifiers = ["italic"] }
# This fixes bracket match highlighting.
"ui.cursor.match" = { fg = "nord8", bg = "nord3" }
"ui.selection.primary" = { bg = "nord1" }

[palette]
nord0 = "{{.colors.nord_night.nord0}}"
nord1 = "{{.colors.nord.nord1}}"
nord2 = "{{.colors.nord.nord2}}"
nord3 = "{{.colors.nord.nord3}}"
# 10% brighter for comments, see https://github.com/nordtheme/nord/issues/94
nord3_bright = "{{.colors.nord.nord3_bright}}"

nord4 = "{{.colors.nord_night.nord4}}"
nord5 = "{{.colors.nord.nord5}}"
nord6 = "{{.colors.nord.nord6}}"

nord7 = "{{.colors.nord.nord7}}"
nord8 = "{{.colors.nord.nord8}}"
nord9 = "{{.colors.nord.nord9}}"
nord10 = "{{.colors.nord.nord10}}"

nord11 = "{{.colors.nord.nord11}}"
nord12 = "{{.colors.nord.nord12}}"
nord13 = "{{.colors.nord.nord13}}"
nord14 = "{{.colors.nord.nord14}}"
nord15 = "{{.colors.nord.nord15}}"
