{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[diff]
    {{ if lookPath "delta" -}}pager = "delta"
    {{ end -}}
    exclude = ["scripts"]

{{ if lookPath "kdiff3" -}}
[merge]
    command = "kdiff3"
{{ end -}}
