[submodule "emacs.d/site-lisp/yasnippet"]
	path = emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs.d/site-lisp/p4"]
	path = emacs.d/site-lisp/p4
	url = https://github.com/gareth-rees/p4.el
[submodule "emacs.d/site-lisp/coffee-mode"]
	path = emacs.d/site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule "emacs.d/site-lisp/django-mode"]
	path = emacs.d/site-lisp/django-mode
	url = https://github.com/myfreeweb/django-mode
