{
    "security.workspace.trust.untrustedFiles": "open",
    "git.openRepositoryInParentFolders": "always",
    "workbench.colorTheme": "Nord",
    "github.copilot.nextEditSuggestions.enabled": true,
    "terminal.integrated.defaultProfile.osx": "zsh",
    "editor.inlineSuggest.enabled": false,
    "editor.fontFamily": "'VictorMono Nerd Font Mono',Menlo, Monaco, 'Courier New', monospace",
    "editor.fontLigatures": true,
    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                "scope": "comment",
                "settings": {
                    "fontStyle": "italic"
                }
            }
        ]
    }
}
