themes {
    my-nord {
        fg "{{.colors.nord_night.nord4}}"
        bg "{{.colors.nord_night.nord0}}"
        nothing "{{.colors.nord.nord0}}"
        black "{{.colors.nord.nord1}}"
        red "{{.colors.nord.nord11}}"
        blue "{{.colors.nord.nord14}}"
        yellow "{{.colors.nord.nord13}}"
        green "{{.colors.nord.nord9}}"
        magenta "{{.colors.nord.nord15}}"
        cyan "{{.colors.nord.nord8}}"
        white "{{.colors.nord.nord5}}"
        orange "{{.colors.nord.nord12}}"
    }
}
