[[language]]
name = "python"
auto-format = true
rulers = [88]

[language-server.pylsp]
args = ["--verbose", "--log-file", "pylsp.log"]

[language-server.pylsp.config.pylsp]
skip_token_initialization = true
configurationSources = ['flake8']
plugins.pylsp_mypy.enabled = false
plugins.pycodestyle.enabled = false
plugins.pyflakes.enabled = false
plugins.mccabe.enabled = false
plugins.flake8.enabled = true
plugins.isort.enabled = true
plugins.rope.enabled = true
